---
import '../assets/reset.css'
import '../assets/global.css'

import Navbar from '../components/Navbar.astro'
import HeroTextScramble from '../components/HeroTextScramble.astro'
import ImagePuzzle from '../components/ImagePuzzle.astro';
import ImagePuzzleText from '../components/ImagePuzzleText.astro';
import SVGMorph from '../components/SVGMorph.astro';
import TextHighlighting from '../components/TextHighlighting.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webanimations</title>
</head>

<body>
  <div class="page-transition"></div>
  <Navbar />
  <header>
  </header>

  <main>
    <HeroTextScramble />
    <div id="puzzle">
      <ImagePuzzleText />
      <ImagePuzzle gridCols={5} gridRows={3}/>
    </div>
    <TextHighlighting />
    <SVGMorph />
  </main>

</body>

</html>

<style>
  /* .page-transition {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--clr-accent);
    z-index: 1000;
    animation: slideUp 750ms 750ms forwards ease-in;
  } */

  body {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
  }

  @keyframes slideUp {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

  #puzzle {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    justify-content: space-between;
    gap: var(--space-2xl)
  }
</style>
