---

---
<div class="footer-wrapper">
  <div class="extra-space"></div>
  <div class="footer">
    <div class="footer-content">
      <h1>Lorem ipsum dolor sit amet consectetur</h1>
    </div>
  </div>
</div>

<style>
  .extra-space {
    height: 5rem; /* same height as border-radius on #site-main in index.astro*/
    background-color: black;
  }

  .footer{
    width: 100%;
    background-color: black;
    color: white;
  }

  .footer-content {
    max-width: 1240px;
    margin: 0 auto;
  }
</style>
