---

---
<div class="footer-wrapper">
  <div class="extra-space"></div>
  <div class="footer" id="footer">
    <div class="footer-content">
      <h1>AN<span class="eye">I</span>WEB</h1>
      <div class="locations">
        <div>
          <p class="cities">New York</p>
          <p>122 Jackson Street</p>
          <p>Brooklyn, NY 11211</p>
        </div>
        <div>
          <p class="cities">Buenos Aires</p>
          <p>Malabia 1720</p>
          <p>Palermo, C1425CLH</p>
        </div>
        <div>
          <p class="cities">Brussels</p>
          <p>Rue Haute 13</p>
          <p>1000 Bruxelles</p>
        </div>
        <div>
          <p class="cities">Berlin</p>
          <p>Torstraße 66</p>
          <p>10119 Berlin</p>
        </div>
        <div>
          <p class="cities">Socials</p>
          <a href="#"><p>Instagram</p></a>
          <a href="#"><p>LinkedIn</p></a>
          <a href="#"><p>Vimeo</p></a>
          <a href="#"><p>TikTok</p></a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .extra-space {
    height: 50px; /* same height as border-radius on #site-main in index.astro*/
    background-color: black;
  }

  .footer{
    width: 100%;
    background-color: black;
    color: white;
    padding-bottom: 2.75em;
  }

  .footer-content {
    max-width: 1240px;
    margin: 0 auto;
    padding: 5% 5%;
  }

  h1 {
    display: flex;
    align-items: center;
    line-height: 2.75;
    /* margin-top: 6rem; */
    color: var(--clr-one);
  }

  .eye {
    font-size: 1.25em;
    transform: scaleX(0.85);
  }

  .locations {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
    row-gap: 2em;
  }

  p {
    color: lightgrey;
  }

  .cities {
    color: white;
    font-weight: 600;
    margin-bottom: 1em;
  }

  a:hover p {
    color: var(--clr-one);
  }

</style>
