---

---
<div id="gearmorph">
	<svg width="100%" height="100%" viewBox="0 0 1200 900" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;">
    <g id="gear" transform="matrix(0.973633,0,0,0.973633,-143,-294.88)">
            <path id="gearCenterOutline" d="M0,238.876C0,237.412 0,235.947 0.049,233.973C0.245,233.194 0.441,232.934 0.489,232.645C2.792,219.262 5.143,205.879 7.348,192.487C8.817,183.346 13.961,178.971 23.415,179.613C33.849,180.333 44.332,181.303 54.766,182.425C63.045,183.321 68.482,180.701 72.646,173.328C78.377,163.198 84.06,153.038 89.938,142.996C93.955,136.172 93.661,129.863 88.958,123.47C82.345,114.613 76.026,105.615 69.658,96.601C65.347,90.503 66.18,82.88 71.372,78.408C82.247,69.115 93.122,59.813 104.046,50.54C110.904,44.706 118.448,45.029 124.718,51.353C132.752,59.362 140.736,67.411 148.77,75.341C153.179,79.603 158.371,80.847 164.152,78.746C176.349,74.293 188.498,69.816 200.646,65.196C206.672,62.899 210.101,58.255 210.639,51.882C211.619,40.713 212.354,29.525 213.187,18.346C213.775,9.94 218.428,5.198 227.099,4.576C234.643,4.586 241.795,4.562 249.289,4.566C257.47,4.591 265.308,4.581 273.391,4.601C279.759,6.286 283.58,10.425 284.167,16.529C285.294,27.982 286.372,39.44 287.254,50.907C287.841,57.672 291.515,62.718 297.933,64.976C300.137,65.76 302.439,66.524 304.742,67.318C314.294,70.737 323.846,74.171 333.545,77.575C339.767,79.809 345.155,78.379 349.809,73.666C357.598,65.73 365.386,57.8 373.18,49.864C379.671,43.309 386.592,43.001 393.764,48.928C404.306,57.667 414.852,66.397 425.409,75.106C432.345,80.828 433.198,88.127 427.956,95.553C421.47,104.718 415.073,113.937 408.739,123.206C404.991,128.687 405.06,134.37 408.381,140.067C412.535,147.189 416.67,154.307 420.804,161.434C422.411,164.192 424.037,166.94 425.6,169.723C430.797,178.981 436.254,181.332 446.772,179.951C457.147,178.594 467.605,177.732 478.054,177.036C485,176.571 490.252,180.759 491.667,187.549C493.191,194.794 494.332,202.122 495.704,209.397C497.095,216.759 498.565,224.102 500,231.455C500,232.719 500,233.978 499.985,235.746C497.977,241.477 494.964,245.558 489.14,247.037C478.764,249.688 468.453,252.573 458.083,255.247C449.539,257.447 445.758,261.606 444.386,270.222C442.525,281.911 440.56,293.574 438.557,305.236C437.371,312.133 439.443,317.561 445.282,321.543C454.722,327.98 464.196,334.387 473.538,340.971C480.004,345.527 481.517,352.612 477.662,359.471C470.799,371.678 463.907,383.869 456.931,396.012C452.307,404.069 445.483,406.069 437.004,402.091C427.305,397.546 417.581,393.044 407.891,388.488C401.254,385.368 395.209,385.988 389.561,390.896C380.783,398.536 372.127,406.271 363.035,413.555C356.275,419.01 354.609,425.387 357.059,433.531C359.998,443.483 362.692,453.544 365.386,463.592C365.925,465.637 366.317,467.871 366.072,469.945C365.386,476.294 361.467,479.871 355.589,481.965C343.196,486.397 330.704,490.754 318.507,495.745C311.11,498.809 302.341,497.031 298.373,487.937C293.867,477.442 288.821,467.188 283.825,456.887C281.62,452.089 275.644,448.579 270.745,449.14C258.107,450.601 245.518,450.506 232.879,449.609C225.58,449.091 220.78,452.237 217.742,458.888C213.138,469.112 208.533,479.358 203.781,489.527C200.254,497.116 193.445,499.73 185.559,496.87C172.871,492.283 160.282,487.445 147.399,483.262C139.022,480.514 134.515,473.247 137.405,463.574C140.345,453.619 142.696,443.469 145.635,433.482C147.839,425.828 145.39,420.051 139.463,415.21C130.253,407.654 120.946,400.065 111.884,392.344C106.397,387.646 100.519,387.166 94.151,390.214C83.913,395.101 73.724,400.045 63.486,404.847C56.383,408.172 49.573,406.101 45.606,399.436C38.405,387.217 31.155,374.971 24.052,362.681C19.545,354.936 21.211,347.971 28.558,342.847C37.572,336.543 46.585,330.17 55.648,323.87C61.428,319.819 63.437,314.21 62.261,307.435C60.154,295.269 57.852,283.13 55.697,270.987C54.472,264.241 50.602,259.926 43.891,258.226C33.849,255.698 24.003,252.857 13.961,250.594C7.103,249.051 1.959,245.95 0,238.876" style="fill:#8392aa;fill-rule:nonzero;"/>
            <path id="gearCenterCircle" d="M312.579,333.579C342.118,309.973 356.079,279.304 352.895,241.551C348.094,184.796 297.541,143.28 240.57,148.512C179.484,154.111 136.475,212.492 149.26,272.314C165.131,346.462 250.612,378.733 312.579,333.579Z" style="fill:#fff;fill-rule:nonzero;"/>
    </g>
    <g id="gearLeft" transform="matrix(0.973633,0,0,0.973633,183.844,-624.458)">
        <g id="gearLeftOutline" transform="matrix(0.984726,0.174114,-0.174114,0.984726,224.474,640.405)">
            <path d="M0,238.876C0,237.412 0,235.947 0.049,233.973C0.245,233.194 0.441,232.934 0.489,232.645C2.792,219.262 5.143,205.879 7.348,192.487C8.817,183.346 13.961,178.971 23.415,179.613C33.849,180.333 44.332,181.303 54.766,182.425C63.045,183.321 68.482,180.701 72.646,173.328C78.377,163.198 84.06,153.038 89.938,142.996C93.955,136.172 93.661,129.863 88.958,123.47C82.345,114.613 76.026,105.615 69.658,96.601C65.347,90.503 66.18,82.88 71.372,78.408C82.247,69.115 93.122,59.813 104.046,50.54C110.904,44.706 118.448,45.029 124.718,51.353C132.752,59.362 140.736,67.411 148.77,75.341C153.179,79.603 158.371,80.847 164.152,78.746C176.349,74.293 188.498,69.816 200.646,65.196C206.672,62.899 210.101,58.255 210.639,51.882C211.619,40.713 212.354,29.525 213.187,18.346C213.775,9.94 218.428,5.198 227.099,4.576C234.643,4.586 241.795,4.562 249.289,4.566C257.47,4.591 265.308,4.581 273.391,4.601C279.759,6.286 283.58,10.425 284.167,16.529C285.294,27.982 286.372,39.44 287.254,50.907C287.841,57.672 291.515,62.718 297.933,64.976C300.137,65.76 302.439,66.524 304.742,67.318C314.294,70.737 323.846,74.171 333.545,77.575C339.767,79.809 345.155,78.379 349.809,73.666C357.598,65.73 365.386,57.8 373.18,49.864C379.671,43.309 386.592,43.001 393.764,48.928C404.306,57.667 414.852,66.397 425.409,75.106C432.345,80.828 433.198,88.127 427.956,95.553C421.47,104.718 415.073,113.937 408.739,123.206C404.991,128.687 405.06,134.37 408.381,140.067C412.535,147.189 416.67,154.307 420.804,161.434C422.411,164.192 424.037,166.94 425.6,169.723C430.797,178.981 436.254,181.332 446.772,179.951C457.147,178.594 467.605,177.732 478.054,177.036C485,176.571 490.252,180.759 491.667,187.549C493.191,194.794 494.332,202.122 495.704,209.397C497.095,216.759 498.565,224.102 500,231.455C500,232.719 500,233.978 499.985,235.746C497.977,241.477 494.964,245.558 489.14,247.037C478.764,249.688 468.453,252.573 458.083,255.247C449.539,257.447 445.758,261.606 444.386,270.222C442.525,281.911 440.56,293.574 438.557,305.236C437.371,312.133 439.443,317.561 445.282,321.543C454.722,327.98 464.196,334.387 473.538,340.971C480.004,345.527 481.517,352.612 477.662,359.471C470.799,371.678 463.907,383.869 456.931,396.012C452.307,404.069 445.483,406.069 437.004,402.091C427.305,397.546 417.581,393.044 407.891,388.488C401.254,385.368 395.209,385.988 389.561,390.896C380.783,398.536 372.127,406.271 363.035,413.555C356.275,419.01 354.609,425.387 357.059,433.531C359.998,443.483 362.692,453.544 365.386,463.592C365.925,465.637 366.317,467.871 366.072,469.945C365.386,476.294 361.467,479.871 355.589,481.965C343.196,486.397 330.704,490.754 318.507,495.745C311.11,498.809 302.341,497.031 298.373,487.937C293.867,477.442 288.821,467.188 283.825,456.887C281.62,452.089 275.644,448.579 270.745,449.14C258.107,450.601 245.518,450.506 232.879,449.609C225.58,449.091 220.78,452.237 217.742,458.888C213.138,469.112 208.533,479.358 203.781,489.527C200.254,497.116 193.445,499.73 185.559,496.87C172.871,492.283 160.282,487.445 147.399,483.262C139.022,480.514 134.515,473.247 137.405,463.574C140.345,453.619 142.696,443.469 145.635,433.482C147.839,425.828 145.39,420.051 139.463,415.21C130.253,407.654 120.946,400.065 111.884,392.344C106.397,387.646 100.519,387.166 94.151,390.214C83.913,395.101 73.724,400.045 63.486,404.847C56.383,408.172 49.573,406.101 45.606,399.436C38.405,387.217 31.155,374.971 24.052,362.681C19.545,354.936 21.211,347.971 28.558,342.847C37.572,336.543 46.585,330.17 55.648,323.87C61.428,319.819 63.437,314.21 62.261,307.435C60.154,295.269 57.852,283.13 55.697,270.987C54.472,264.241 50.602,259.926 43.891,258.226C33.849,255.698 24.003,252.857 13.961,250.594C7.103,249.051 1.959,245.95 0,238.876" style="fill:#8392aa;fill-rule:nonzero;"/>
        </g>
        <g id="gearLeftCircle" transform="matrix(0.984726,0.174114,-0.174114,0.984726,224.474,640.405)">
            <path d="M312.579,333.579C342.118,309.973 356.079,279.304 352.895,241.551C348.094,184.796 297.541,143.28 240.57,148.512C179.484,154.111 136.475,212.492 149.26,272.314C165.131,346.462 250.612,378.733 312.579,333.579Z" style="fill:#fff;fill-rule:nonzero;"/>
        </g>
    </g>
    <g id="gearRight" transform="matrix(0.973633,0,0,0.973633,-468.408,-618.246)">
        <g id="gearRightOutline" transform="matrix(0.984664,-0.174462,0.174462,0.984664,809.344,720.917)">
            <path d="M0,238.876C0,237.412 0,235.947 0.049,233.973C0.245,233.194 0.441,232.934 0.489,232.645C2.792,219.262 5.143,205.879 7.348,192.487C8.817,183.346 13.961,178.971 23.415,179.613C33.849,180.333 44.332,181.303 54.766,182.425C63.045,183.321 68.482,180.701 72.646,173.328C78.377,163.198 84.06,153.038 89.938,142.996C93.955,136.172 93.661,129.863 88.958,123.47C82.345,114.613 76.026,105.615 69.658,96.601C65.347,90.503 66.18,82.88 71.372,78.408C82.247,69.115 93.122,59.813 104.046,50.54C110.904,44.706 118.448,45.029 124.718,51.353C132.752,59.362 140.736,67.411 148.77,75.341C153.179,79.603 158.371,80.847 164.152,78.746C176.349,74.293 188.498,69.816 200.646,65.196C206.672,62.899 210.101,58.255 210.639,51.882C211.619,40.713 212.354,29.525 213.187,18.346C213.775,9.94 218.428,5.198 227.099,4.576C234.643,4.586 241.795,4.562 249.289,4.566C257.47,4.591 265.308,4.581 273.391,4.601C279.759,6.286 283.58,10.425 284.167,16.529C285.294,27.982 286.372,39.44 287.254,50.907C287.841,57.672 291.515,62.718 297.933,64.976C300.137,65.76 302.439,66.524 304.742,67.318C314.294,70.737 323.846,74.171 333.545,77.575C339.767,79.809 345.155,78.379 349.809,73.666C357.598,65.73 365.386,57.8 373.18,49.864C379.671,43.309 386.592,43.001 393.764,48.928C404.306,57.667 414.852,66.397 425.409,75.106C432.345,80.828 433.198,88.127 427.956,95.553C421.47,104.718 415.073,113.937 408.739,123.206C404.991,128.687 405.06,134.37 408.381,140.067C412.535,147.189 416.67,154.307 420.804,161.434C422.411,164.192 424.037,166.94 425.6,169.723C430.797,178.981 436.254,181.332 446.772,179.951C457.147,178.594 467.605,177.732 478.054,177.036C485,176.571 490.252,180.759 491.667,187.549C493.191,194.794 494.332,202.122 495.704,209.397C497.095,216.759 498.565,224.102 500,231.455C500,232.719 500,233.978 499.985,235.746C497.977,241.477 494.964,245.558 489.14,247.037C478.764,249.688 468.453,252.573 458.083,255.247C449.539,257.447 445.758,261.606 444.386,270.222C442.525,281.911 440.56,293.574 438.557,305.236C437.371,312.133 439.443,317.561 445.282,321.543C454.722,327.98 464.196,334.387 473.538,340.971C480.004,345.527 481.517,352.612 477.662,359.471C470.799,371.678 463.907,383.869 456.931,396.012C452.307,404.069 445.483,406.069 437.004,402.091C427.305,397.546 417.581,393.044 407.891,388.488C401.254,385.368 395.209,385.988 389.561,390.896C380.783,398.536 372.127,406.271 363.035,413.555C356.275,419.01 354.609,425.387 357.059,433.531C359.998,443.483 362.692,453.544 365.386,463.592C365.925,465.637 366.317,467.871 366.072,469.945C365.386,476.294 361.467,479.871 355.589,481.965C343.196,486.397 330.704,490.754 318.507,495.745C311.11,498.809 302.341,497.031 298.373,487.937C293.867,477.442 288.821,467.188 283.825,456.887C281.62,452.089 275.644,448.579 270.745,449.14C258.107,450.601 245.518,450.506 232.879,449.609C225.58,449.091 220.78,452.237 217.742,458.888C213.138,469.112 208.533,479.358 203.781,489.527C200.254,497.116 193.445,499.73 185.559,496.87C172.871,492.283 160.282,487.445 147.399,483.262C139.022,480.514 134.515,473.247 137.405,463.574C140.345,453.619 142.696,443.469 145.635,433.482C147.839,425.828 145.39,420.051 139.463,415.21C130.253,407.654 120.946,400.065 111.884,392.344C106.397,387.646 100.519,387.166 94.151,390.214C83.913,395.101 73.724,400.045 63.486,404.847C56.383,408.172 49.573,406.101 45.606,399.436C38.405,387.217 31.155,374.971 24.052,362.681C19.545,354.936 21.211,347.971 28.558,342.847C37.572,336.543 46.585,330.17 55.648,323.87C61.428,319.819 63.437,314.21 62.261,307.435C60.154,295.269 57.852,283.13 55.697,270.987C54.472,264.241 50.602,259.926 43.891,258.226C33.849,255.698 24.003,252.857 13.961,250.594C7.103,249.051 1.959,245.95 0,238.876" style="fill:#8392aa;fill-rule:nonzero;"/>
        </g>
        <g id="gearRightCircle" transform="matrix(0.984664,-0.174462,0.174462,0.984664,809.344,720.917)">
            <path d="M312.579,333.579C342.118,309.973 356.079,279.304 352.895,241.551C348.094,184.796 297.541,143.28 240.57,148.512C179.484,154.111 136.475,212.492 149.26,272.314C165.131,346.462 250.612,378.733 312.579,333.579Z" style="fill:#fff;fill-rule:nonzero;"/>
        </g>
    </g>


    <g id="blueprint" transform="matrix(1,0,0,1,352.333,32.0696)">
        <path id="blueprintFrame" d="M349.611,41.027L115.129,41.027C97.253,41.027 94.744,57.792 94.499,59.897L93.436,250.138L93.436,435.386C93.436,451.897 106.758,456.331 109.551,457.079L388.774,457.079C396.061,457.079 399.877,452.073 402.066,447.337C404.399,442.279 405.028,437.228 405.142,436.127L405.142,97.548L349.611,41.027" style="fill:none;fill-rule:nonzero;stroke:#0008ff;stroke-width:15px;"/>
    </g>
    <g id="blueprint2" transform="matrix(1,0,0,1,352.333,32.0696)">
        <path id="blueprintCorner" d="M340.689,42.682L341.208,83.142C341.208,83.142 341.172,99.527 360.722,99.527C380.272,99.527 400.5,100.311 400.5,100.311" style="fill:none;fill-rule:nonzero;stroke:#0008ff;stroke-width:15px;stroke-linecap:butt;"/>
    </g>
    <g id="blueprint3" transform="matrix(1,0,0,1,352.333,32.0696)">
        <path id="blueprintGearShape" d="M170.497,194.751L191.792,173.455L212.023,187.298L230.124,177.713L233.317,156.419L264.195,156.419L266.325,178.779L286.555,187.298L307.851,172.391L327.016,192.62L313.175,215.779L320.629,230.951L343.822,237.104C345.179,243.681 345.419,253.124 343.938,268.218L319.563,270.349L311.046,287.385L328.082,309.744L307.614,330.212L286.636,315.069L267.39,325.717L263.13,347.011L235.448,348.076L230.124,325.717L213.086,316.134L191.792,331.041L171.561,310.81L184.339,288.448L176.885,269.283L152.396,265.025L152.396,237.341L176.885,233.081L184.339,211.787L170.497,194.751Z" style="fill:#5fc4ff;fill-rule:nonzero;stroke:#0008ff;stroke-width:14.11px;stroke-linecap:butt;"/>
    </g>
    <g id="blueprint4" transform="matrix(1,0,0,1,352.333,32.0696)">
        <path id="blueprintCircleShape" d="M286.634,253.044C286.634,273.626 269.949,290.311 249.368,290.311C228.786,290.311 212.101,273.626 212.101,253.044C212.101,232.463 228.786,215.778 249.368,215.778C269.949,215.778 286.634,232.463 286.634,253.044Z" style="fill:#fff;fill-rule:nonzero;stroke:#0008ff;stroke-width:14.11px;stroke-linecap:butt;"/>
    </g>
</svg>

</div>

<style>
  #gearmorph {
    max-width: 70%;
    margin: 0 auto 0;
  }

  #gearmorph svg {
    width: 100%;
    height:auto;
    display: block;
    padding-bottom: 10%;
  }

  #gear, #gearLeft, #gearRight {
    visibility: hidden;
  }

</style>

<script>
  import { gsap } from "gsap";
  import { MorphSVGPlugin } from 'gsap/MorphSVGPlugin';
  import { DrawSVGPlugin } from 'gsap/DrawSVGPlugin';
  gsap.registerPlugin(MorphSVGPlugin, DrawSVGPlugin);


  let tl = gsap.timeline({
    scrollTrigger: {
      trigger: "#gearmorph",
      start: "top 15%",
      toggleActions: "play none none none",
      scrub: 1,
      pin: true,
      end: () => `+=${window.innerHeight * 1.5}`,
      invalidateOnRefresh: true,
    }
  });


  tl.to("#blueprintFrame", { duration: 1.6, drawSVG: "95% 95%", ease: "power1.in" })
    .to("#blueprintCorner", { duration: 1.6, drawSVG: "100% 100%", ease: "power1.in" }, "<")
    .to("#blueprintCorner", { duration: 1, fill: "none" }, "<")
    .to("#blueprintGearShape", { duration: 2, transformOrigin: "50% 50%", morphSVG: "#gearCenterOutline", fill: "#8392AA", stroke: "none", ease: "power3.out" }, "<1.5")
    .to("#blueprintCircleShape", { duration: 2, transformOrigin: "50% 50%", morphSVG: "#gearCenterCircle", fill: "#FFFFFF", stroke: "none", ease: "power3.out" }, "<")
    .to("#blueprintFrame", { autoAlpha: 0, duration: 0 })
    .to("#gearLeft", {x: -115, y: -285, autoAlpha: 1, rotate: -9, transformOrigin: "50% 50%"})
    .to("#gearRight", {x: -182, y: -279, autoAlpha: 1, rotate: 9, transformOrigin: "50% 50%"}, "<")
    .to("#blueprintGearShape", {duration: 3, rotation: 360, transformOrigin: "50% 50%", ease: "none"})
    .to("#gearLeft", {duration: 3, rotation: -369, transformOrigin: "50% 50%", ease: "none"}, "<")
    .to("#gearRight", {duration: 3, rotation: -351, transformOrigin: "50% 50%", ease: "none"}, "<")
</script>
